.message {
  transform-origin: top center;
  max-height: 100%;
  transition: all 0.3s ease;

  &:not(:last-child) {
    margin-bottom: 0;
  }

  &--hidden {
    max-height: 0;
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
  }
}